<div class="footer-wrap">
  <div class="container">
    <div class="footer">
      <div class="footer-header">
        <%= link_to root_path, class: 'logo' do %>
          <%= image_tag "logo-montis-footer.svg" %>
        <% end %>
        <div class="footer-header-menu">
          <ul>
            <li>
              <%= link_to 'О нас', about_path %>
            </li>
            <li>
              <%= link_to 'Условия', conditions_path %>
            </li>
            <li>
              <%= link_to 'Вопрос-ответ', question_path %>
            </li>
            <li>
              <%= link_to 'Отзывы', reviews_path %>
            </li>
            <li>
              <%= link_to 'Онлайн одобрение', estimation_path %>
            </li>
            <li>
              <%= link_to 'Контакты', contacts_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-content">
        <div class="footer-info">
          <ul>
            <li>ООО "Микрокредитная компания Монтис"</li>
            <li>ИНН 7726399483</li>
            <li>КПП 772601001</li>
            <li>ОГРН 1177746301457</li>
            <li>Р/c 40701810388000000231</li>
            <li>К/с 30101810300000000341</li>
            <li>БИК 044525341</li>
            <li>Банк: АКБ «Фора-Банк» АО</li>
            <li>Город банка: Москва</li>
            <li>Юр. адрес: 117535, г.Москва, ул.Россошанская, д.4, корп.1, этаж 1, пом.XVI</li>
          </ul>
        </div>
        <div class="footer-items">
          <ul class="footer-item">
            <li>
              <a href="/docs/general_loan_conditions.pdf">Общие условия договора займа</a>
            </li>
            <li>
              <a href="/docs/loan_rules.pdf">Правила о порядке и условиях предоставления потребительских займов</a>
            </li>
            <li>
              <a href="/docs/certificate_registry.pdf">Свидетельство о внесении сведений о юридическом лице в Государственный Реестр Микрофинансовых Организаций</a>
            </li>
            <li>
              <a href="/docs/disclosure_of_information.pdf">Положение о раскрытии информации</a>
            </li>
          </ul>
          <ul class="footer-item">
            <li>
              <a href="/docs/personal_data_policy.pdf">Политика в отношении обработки и защиты персональных данных</a>
            </li>
            <li>
              <a href="/docs/certificate_sro.pdf">Свидетельство о членстве в Союзе "Микрофинансовый Альянс "Институты развития малого и среднего бизнеса""</a>
            </li>
            <li>
              <a href="/docs/privacy_policy.pdf">Политика конфиденциальности</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom">
        © 2017, Монтис
      </div>
    </div>
  </div>
</div>
