<div class="header-wrap">
  <div class="container_large">
    <div class="header">
      <div class="header-items">
        <%= link_to root_path, class: 'logo' do %>
          <%= image_tag "logo-montis-header.svg" %>
        <% end %>
        <div class="header-content">
          <div class="nav">
            <div class="burger-wrap">
              <a href="#"><span></span></a>
            </div>
            <ul>
              <li>
                <%= link_to 'О нас', about_path %>
              </li>
              <li>
                <%= link_to 'Условия', conditions_path %>
              </li>
              <li>
                <%= link_to 'Вопрос-ответ', question_path %>
              </li>
              <li>
                <%= link_to 'Онлайн одобрение', estimation_path %>
              </li>
              <li>
                <%= link_to 'Контакты', contacts_path %>
              </li>
              <li>
                <% if user_signed_in? && current_page?(profile_path) %>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'header-cabinet' do %>
                    <%= image_tag "ic-myoffice-inactiv.png" %> <span>Выйти</span>
                  <% end %>
                <% elsif user_signed_in? %>
                  <%= link_to profile_path, class: 'header-cabinet' do %>
                    <%= image_tag "ic-myoffice-inactiv.png" %> <span>Мой кабинет</span>
                  <% end %>
                <% else %>
                  <a href="#sign-in-modal" class="header-cabinet" data-fancybox>
                    <%= image_tag "ic-myoffice-inactiv.png" %> <span>Мой кабинет</span>
                  </a>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header-info">
        <div class="header-info-nav">
          <ul>
            <li><%= image_tag "ic-calculator-header.svg" %> <span>Калькулятор</span></li>
            <li class="blue"><%= image_tag "ic-phone-header.svg" %> <span>Обратный звонок</span></li>
          </ul>
        </div>
        <div class="header-info-item calc">
          <h2>рассчитать <span>условия займа</span></h2>
          <%= form_for Loan.new do |f| %>
            <div class="calc-item calc-sum">
              <span>cумма займа</span>
              <p><i class="calc-sum-amount"></i> <b>₽</b></p>
              <div class="slider slider-sum"></div>
            </div>
            <%= f.hidden_field :term, value: 12 %>
            <div class="calc-item calc-term">
              <span>срок займа</span>
              <p><i class="calc-term-amount"></i> мес.</p>
              <div class="slider slider-term"></div>
            </div>
            <%= f.hidden_field :amount, value: 50000 %>
            <div class="calc-cont">
              <div class="calc-radios">
                <label>
                  <div class="radio">
                    <input type="radio" name="calc-radio" checked>
                    <span></span>
                  </div>
                  <div class="calc-radios-text">
                    под залог ПТС
                  </div>
                </label>
              </div>
              <div class="calc-cont-info">
                <p>ежемесячный платеж</p>
                <strong><span id="calc-monthly-payment">4000</span> <span class="currency">₽</span></strong>
              </div>
            </div>
            <div class="calc-input">
              <%= f.text_field :first_name, placeholder: 'Имя', required: true %>
            </div>
            <div class="calc-input">
              <%= f.text_field :phone_number, placeholder: 'Номер телефона', required: true %>
            </div>
            <div class="calc-input">
              <%= f.text_field :car_model, placeholder: 'Марка и модель автомобиля', required: true %>
            </div>
            <div class="calc-input">
              <%= f.number_field :car_year, placeholder: 'Год выпуска', required: true %>
            </div>
            <div class="calc-link">
              <%= f.submit 'Отправить' %>
            </div>
          <% end %>
        </div>
        <div class="header-info-item callback">
          <h2>Не можете дозвониться?</h2>
          <div class="callback-text">
            Оставьте ваш телефон.<br>
            Наш оператор свяжется с вами в ближайшее время.
          </div>
          <%= form_for CallbackRequest.new do |f| %>
            <div class="callback-input">
              <%= f.text_field :name, required: true, placeholder: 'Имя' %>
            </div>
            <div class="callback-input">
              <%= f.text_field :phone_number, required: true, placeholder: 'Номер телефона' %>
            </div>
            <div class="callback-checkboxs">
              <label>
                <div class="checkbox">
                  <input type="checkbox" required="required"> <span></span>
                </div>
                <i>Я согласен с условиями обработки<br>персональных данных</i>
              </label>
            </div>
            <div class="callback-link">
              <%= f.submit 'Отправить' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign In -->

<div id="sign-in-modal">
  <div class="login-wrap">
    <div class="schedule-arrow" data-fancybox-close></div>
    <div class="login">
      <h2 class="login-head">Войти в личный кабинет</h2>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="login-input">
          <%= f.email_field :email, required: true, placeholder: 'Логин' %>
        </div>
        <div class="login-input">
          <%= f.password_field :password, required: true, placeholder: 'Пароль' %>
        </div>
        <div class="login-password">
          <a href="#">Напомнить пароль</a>
        </div>
        <div class="login-submit">
          <input type="submit" value="войти">
        </div>
      <% end %>
    </div>
  </div>
</div>
