<div class="showcase-inner-wrap">
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-2.png' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>оформления займа отнимет у Вас минимум времени</h2>
        <p>Вы получите одобрение ОНЛАЙН в течение 10 минут</p>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
</div>

<!-- About -->

<div class="about-wrap">
  <div class="container">
    <div class="about">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head about-head">О нас</h2>
      <div class="about-content">
        <p><b>МОНТИС</b> - займ под залог ПТС на выгодных условиях. Наша цель – облегчить Вам жизнь. Для этого мы создали надежную компанию в сфере финансовых услуг.</p>
        <p>Мы разработали оптимальные условия, для того, чтобы наши клиенты могли получить займ при минимуме усилий. Вы заполняете заявку и получаете готовое предложение от нас в ОНЛАЙН РЕЖИМЕ, наш специалист свяжется с Вами и согласует время и место встречи, куда Вам привезут Договор и Деньги. Мы ценим Ваше время, и своевременно выполняем свою работу. С нами Вы получите денежные средства в течение 2 часов после подачи заявки.</p>

        <span><b>МОНТИС</b> – компания, которая работает для Вас!</span>
      </div>
    </div>
  </div>
</div>

<!-- Why -->

<div class="why-wrap why_inner">
  <div class="container">
    <div class="why">
      <div class="why-items">
        <div class="why-item">
          <div class="why-item-img">
            <%= image_tag "ic-bank-gray.svg" %>
          </div>
          <p>ВЫСОКИЙ ЛИМИТ</p>
          <div class="why-item-num">
            1 500 000 <span>₽</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img">
            <%= image_tag "ic-stopwatch-gray.svg" %>
          </div>
          <p>РАССМОТРЕНИЕ ЗАЯВКИ ОНЛАЙН</p>
          <div class="why-item-num">
            10 <span>мин</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img">
            <%= image_tag "ic-like-gray.svg" %>
          </div>
          <p>ВЫСОКИЙ ПРОЦЕНТ ОДОБРЕНИЯ ЗАЯВКИ</p>
          <div class="why-item-num">
            89 <span>%</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img">
            <%= image_tag "ic-diamond-gray.svg" %>
          </div>
          <p>МИНИМУМ УСИЛИЙ</p>
          <div class="why-item-num">
            3 <span>документа</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
