<div class="showcase-inner-wrap conditions_showcase">
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.png' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>чтобы получить займ</h2>
        <p>нужен минимальный<br> пакет документов<br> ПТС, СТС и Паспорт РФ</p>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
</div>

<!-- Conditions -->

<div class="conditions-wrap">
  <div class="container">
    <div class="conditions">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head conditions-head">Условия</h2>
      <div class="conditions-items">
        <div class="conditions-item first">
          <div class="part-items">
            <div class="part-item">
              <div class="part-wrap">
                <div class="part">
                  <div class="part-head">
                    <%= image_tag "ic-wallet.svg" %>
                    <span>СУММА ЗАЙМА</span>
                  </div>
                  <p>От 100 000 рублей до 80% стоимости автомобиля</p>
                </div>
                <div class="part">
                  <div class="part-head">
                    <%= image_tag "ic-calendar.svg" %>
                    <span>СРОК ЗАЙМА</span>
                  </div>
                  <p>от 2-24 месяцев</p>
                </div>
              </div>
            </div>
            <div class="part-item">
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-timemoney.svg" %>
                  <span>ДОСРОЧНОЕ ПОГАШЕНИЕ</span>
                </div>
                <p>В любой день без штрафов и комиссий</p>
              </div>
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-docs.svg" %>
                  <span>ОБЕСПЕЧЕНИЕ</span>
                </div>
                <p>Автомобиль остается у Клиента, на хранение передается только ПТС</p>
              </div>
            </div>
          </div>
        </div>
        <div class="conditions-item second">
          <h2 class="part__head">Требования</h2>
          <div class="part-items">
            <div class="part-item">
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-car.svg" %>
                  <span>К ЗАЛОГУ</span>
                </div>
                <ul>
                  <li>Автомобиль в собственности заемщика</li>
                  <li>Дата выпуска автомобиля иностранного производства: не старше 15 лет</li>
                  <li>Дата выпуска автомобиля отечественного производства: не старше 7 лет</li>
                  <li>Автомобиль не находится в залоге</li>
                </ul>
              </div>
            </div>
            <div class="part-item">
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-user.svg" %>
                  <span>К ЗАЕМЩИКУ</span>
                </div>
                <ul>
                  <li>Гражданство РФ</li>
                  <li>Возраст 21 - 65 лет</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="conditions-item third">
          <h2 class="part__head">Как получить займ</h2>
          <div class="part-items">
            <div class="part-item">
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-profits.svg" %>
                  <span>ПРОЦЕСС ПОЛУЧЕНИЯ ЗАЙМА</span>
                </div>
                <p>Необходимо заполнить анкету, Вы получите одобрение в онлайн режиме за пару минут. После чего наш сотрудник свяжется с Вами и согласует время и место встречи для подписания договора и передачи денег.</p>
              </div>
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-docs.svg" %>
                  <span>НЕОБХОДИМЫЕ ДОКУМЕНТЫ</span>
                </div>
                <p>Паспорт РФ, ПТС, водительское удостоверение, свидетельство о регистрации ТС, полис ОСАГО.</p>
              </div>
            </div>
            <div class="part-item">
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-timepay.svg" %>
                  <span>ВРЕМЯ ПОЛУЧЕНИЯ ЗАЙМА</span>
                </div>
                <p>Проверка заемщика занимает 5 минут, время выдачи займа при выездной встрече с нашим специалистом с учетом визуального осмотра автомобиля и подписания договора занимает не более 30 минут.</p>
              </div>
              <div class="part">
                <div class="part-head">
                  <%= image_tag "ic-wallet.svg" %>
                  <span>СПОСОБЫ ВЫДАЧИ ЗАЙМА</span>
                </div>
                <p>В целях безопасности и удобства займ выдается на банковскую карту, с помощью которой можно в любой момент обналичить сумму займа в банкомате.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
