<div class="contacts-wrap">
  <div class="container">
    <div class="contacts">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head contacts-head">Контакты</h2>
      <div class="contacts-content">
        <div class="contacts-info">
          <h2 class="contacts-info__head">ООО "Микрокредитная компания Монтис"</h2>
          <span>ИНН 7726399483</span>
          <span>КПП 772601001</span>
          <div class="contacts-info-item">
            <h3>Адрес регистрации</h3>
            <p>117535, г.Москва, ул.Россошанская, д.4, корп.1, этаж 1, пом.XVI</p>
          </div>
          <div class="contacts-info-item">
            <h3>Номер лицензии</h3>
            <i>1703045008255</i>
          </div>
        </div>
        <div class="contacts-items">
          <div class="contacts-item">
            <div class="docs-items">
              <div class="docs-item">
                <%= image_tag "ic-file-pdf.svg" %>
                <div class="docs-item-content">
                  <h2>Правила</h2>
                  <a href="/docs/loan_rules.pdf">скачать</a>
                </div>
              </div>
              <div class="docs-item">
                <%= image_tag "ic-file-pdf.svg" %>
                <div class="docs-item-content">
                  <h2>Договор</h2>
                  <a href="/docs/general_loan_conditions.pdf">скачать</a>
                </div>
              </div>
              <div class="docs-item">
                <%= image_tag "ic-file-archive.svg" %>
                <div class="docs-item-content">
                  <h2>Прочие документы</h2>
                  <a href="/docs/montis.zip">скачать</a>
                </div>
              </div>
            </div>
          </div>
          <div class="contacts-item">
            <div class="contacts-item-info">
              <div class="contacts-item-contact">
                <%= image_tag "ic-phone.svg" %>
                <a href="tel:74951202090">+7 (495) 120-20-90</a>
              </div>
              <div class="contacts-item-contact">
                <%= image_tag "ic-mail.svg" %>
                <a href="mailto:Mkk.montis.zayavki@yandex.ru">Mkk.montis.zayavki@yandex.ru</a>
              </div>
            </div>
          </div>
          <div class="contacts-item">
            <div class="contacts-soc">
              <div class="contacts-soc-item">
                <a href="#">
                  <%= image_tag "ic-facebook.svg" %>
                </a>
                <a href="#">
                  <%= image_tag "ic-vk.svg" %>
                </a>
                <a href="#">
                  <%= image_tag "ic-twitter.svg" %>
                </a>
                <a href="#">
                  <%= image_tag "ic-linkedin.svg" %>
                </a>
              </div>
              <div class="contacts-soc-item">
                <a href="#">
                  <%= image_tag "ic-whatsapp.svg" %>
                </a>
                <a href="#">
                  <%= image_tag "ic-viber.svg" %>
                </a>
                <a href="#">
                  <%= image_tag "ic-telegram.svg" %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Сertificate -->

<div class="certificate-wrap">
  <div class="certificate">
    <ul>
      <li>
        <a href="<%= image_path 'certificate_1.jpg' %>" data-fancybox="images">
          <%= image_tag "certificate_1_preview.jpg" %>
        </a>
      </li>
      <li>
        <a href="<%= image_path 'certificate_2.jpg' %>" data-fancybox="images">
          <%= image_tag "certificate_2_preview.jpg" %>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Map -->

<div class="map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.659135203299!2d37.53734524290308!3d55.74705130315774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bdcfd481e5d%3A0xb918cd99e9ad9462!2z0J_RgNC10YHQvdC10L3RgdC60LDRjyDQvdCw0LEuLCDQnNC-0YHQutCy0LAsINCg0L7RgdGB0LjRjw!5e0!3m2!1sru!2sua!4v1511605031664" allowfullscreen></iframe>
</div>
