<!-- Estimation -->

<div class="estimation-wrap">
  <div class="container">
    <div class="estimation">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head contacts-head">Онлайн одобрение</h2>
      <div class="estimation__text">Укажите данные вашего авто и узнайте сумму одобренного кредита</div>
      <div class="estimation-items">
        <ul class="estimation-nav">
          <li class="active"><a href="#">Автомобиль</a></li>
          <li><a href="#">Предварительная оценка</a></li>
          <li><a href="#">Ваши данные</a></li>
          <li><a href="#">Получение решения</a></li>
        </ul>
        <%= form_for Loan.new do |f| %>
          <div class="estimation-carousel">
            <div>
              <div class="estimation-content">
                <div class="estimation-info">
                  <div class="calc">
                    <h2 class="calc__head">Для расчета кредита, укажите <span>государственный</span><br> или <span>vin</span> номер вашего автомобиля:</h2>
                    <div>
                      <div class="calc-input">
                        <%= f.text_field :car_vin, placeholder: 'VIN автомобиля / гос. номер' %>
                      </div>
                      <!-- <div class="calc-check">
                        <div class="calc-check-img">
                          <%= image_tag "calc-check-img.jpg" %>
                        </div>
                        <div class="calc-check-input">
                          <input type="text" placeholder="Введите символы" onfocus="placeholder='';" onblur="placeholder='Введите символы';" />
                        </div>
                      </div> -->
                      <div class="calc__text">Представленная информация не является публичной офертой</div>
                    </div>
                  </div>
                </div>

                <div class="estimation-sidebar">
                  <div class="estimation-sidebar-img">
                    <%= image_tag "ic-like-red.svg" %>
                  </div>
                  <div class="estimation-sidebar__text">ВЫСОКИЙ ПРОЦЕНТ<br> ОДОБРЕНИЯ ЗАЯВКИ</div>
                  <div class="estimation-sidebar-number">
                    89<span>%</span>
                  </div>
                  <div class="estimation-sidebar-link">
                    <a class="estimation-next" href="#" id="button-estimate-auto">Узнать размер кредита</a>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="estimation-content">
                <div class="estimation-info">
                  <div class="query">
                    <h2 class="calc__head">Сумма предварительно одобренного кредита <span><span class="preliminary-amount">500000</span> <i>₽</i></span></h2>
                    <div class="mark">

                      <div class="mark-item">
                        <span class="selected-amount">сумма:</span>
                        <p>
                          <i class="mark-sum-amount"></i>
                          <b>₽</b>
                        </p>
                        <div class="mark-from">
                          <div>5000 <i>₽</i></div>
                          <div><span class="preliminary-amount">500000</span> <i>₽</i></div>
                        </div>
                        <div class="mark-slider mark-sum"></div>
                      </div>
                      <%= f.hidden_field :amount, value: 500000 %>

                      <div class="mark-item">
                        <span>срок:</span>
                        <p>
                          <i class="mark-term-amount">12</i>
                          <b>мес.</b>
                        </p>
                        <div class="mark-from">
                          <div>1 <i>месяц</i></div>
                          <div>24 <i>месяц</i></div>
                        </div>
                        <div class="mark-slider mark-term"></div>
                      </div>
                      <%= f.hidden_field :term, value: 12 %>

                      <div class="mark-info">
                        <div class="mark-info-item">
                          <p>срок займа</p>
                          <div class="mark-info-number"><span id="mark-info-term">12</span><span class="unit"> месяцев</span></div>
                        </div>
                        <div class="mark-info-item">
                          <p>ежемесячный платеж</p>
                          <div class="mark-info-number"><span id="mark-info-monthly-payment"></span><span class="unit"> ₽</span></div>
                        </div>
                        <div class="mark-info-item">
                          &nbsp;
                        </div>
                      </div>

                    </div>
                    <a href="#" class="estimation-info-button estimation-back">назад</a>
                  </div>
                </div>

                <div class="estimation-sidebar query">
                  <div class="estimation-sidebar-img">
                    <%= image_tag "ic-like-red.svg" %>
                  </div>
                  <div class="estimation-sidebar__text">ВЫСОКИЙ ПРОЦЕНТ<br> ОДОБРЕНИЯ ЗАЯВКИ</div>
                  <div class="estimation-sidebar-number">
                    89<span>%</span>
                  </div>
                  <div class="estimation-sidebar-link">
                    <a class="estimation-next" href="#" id="button-next-step">Оформить кредит</a>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="estimation-content">
                <div class="estimation-info">
                  <div class="query">
                    <h2 class="calc__head">Для подтвержения запроса на кредит укажите информацию о вас</h2>
                    <div class="form">
                      <div class="query-items" id="estimation-form">
                        <div class="query-item">
                          <%= f.text_field :last_name, placeholder: 'Фамилия', required: true %>
                        </div>
                        <div class="query-item">
                          <%= f.text_field :first_name, placeholder: 'Имя', required: true %>
                        </div>
                        <div class="query-item">
                          <%= f.text_field :patronymic_name, placeholder: 'Отчество', required: true %>
                        </div>
                        <div class="query-item">
                          <%= f.date_field :birthdate, placeholder: 'Дата рождения', required: true %>
                        </div>

                        <div class="query-item">
                          <%= f.text_field :passport_number, placeholder: 'Серия и номер паспорта', required: true %>
                        </div>
                        <div class="query-item">
                          <%= f.date_field :passport_date, placeholder: 'Дата выдачи', required: true %>
                        </div>

                        <div class="query-item">
                          <%= f.email_field :email, placeholder: 'Email', required: true %>
                        </div>
                        <div class="query-item">
                          <%= f.text_field :phone_number, placeholder: 'Телефон', required: true %>
                        </div>
                      </div>

                      <div class="form-check">
                        <div class="checkbox">
                          <input type="checkbox" id="box2" required>
                          <span></span>
                        </div>
                        <label for="box2">Я согласен с условиями о хранении персональных данных</label>
                      </div>
                    </div>
                    <a href="#" class="estimation-info-button estimation-back">назад</a>
                  </div>
                </div>

                <div class="estimation-sidebar query">
                  <div class="estimation-sidebar-img">
                    <%= image_tag "ic-diamond-red.svg" %>
                  </div>
                  <div class="estimation-sidebar__text">МИНИМУМ УСИЛИЙ</div>
                  <div class="estimation-sidebar-number">
                    3<span>документа</span>
                  </div>
                  <div class="estimation-sidebar-link">
                    <button type="submit" class="estimation-next" href="#" id="button-check-financial-health">Подтвердить</button>
                  </div>
                </div>

              </div>
            </div>

            <div>
              <div class="estimation-content">

                <div class="estimation-info">
                  <div class="decision">
                    <h2 class="calc__head">Вы сформировали заявку на следующих условиях</h2>
                    <div class="decision-content">
                      <ul class="decision-content-item">
                        <li>сумма кредита:</li>
                        <li><span id="decision-content-amount">500000</span> <i>₽</i></li>
                      </ul>
                      <ul class="decision-content-item">
                        <li>срок кредита:</li>
                        <li><span id="decision-content-term">12</span> <span.unit>месяцев</span></li>
                      </ul>
                      <ul class="decision-content-item">
                        <li>ставка:</li>
                        <li>6% <span.unit>в месяц</span></li>
                      </ul>
                      <ul class="decision-content-item">
                        <li>ежемесячный платеж:</li>
                        <li><span id="decision-content-monthly-payment">50000</span> <i>₽</i></li>
                      </ul>
                    </div>
                    <a href="#modal" data-fancybox class="estimation-info-button">график платежей</a>
                  </div>
                </div>

                <div class="estimation-sidebar decision">
                  <div class="estimation-sidebar-img">
                    <%= image_tag "ic-stopwatch-red.svg" %>
                  </div>
                  <div class="estimation-sidebar__text">РАССМОТРЕНИЕ ЗАЯВКИ</div>
                  <div class="estimation-sidebar-number">
                    ОНЛАЙН
                  </div>
                  <div class="estimation-sidebar-link">
                    <%= f.submit 'Подтвердить', data: { disable_with: false } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Schedule -->

<div id="modal">

  <div class="schedule">
   <div class="schedule-arrow" data-fancybox-close></div>
    <h2 class="schedule__head">график платежей</h2>
    <div class="schedule-items">
      <div class="schedule-item">
        <p>сумма айма:</p>
        <span>452 840 <i>₽</i></span>
      </div>
      <div class="schedule-item">
        <p>ежемесячный платеж:</p>
        <span>58 542 <i>₽</i></span>
      </div>
      <div class="schedule-item">
        <p>ставка:</p>
        <span>6% <i>в месяц</i></span>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <td>Дата</td>
          <td>платеж</td>
          <td>долг</td>
          <td>Процент</td>
          <td>задолжности</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Январь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>24 557</span>
            <i>₽</i>
          </td>
          <td>
            <span>33 557</span>
            <i>₽</i>
          </td>
          <td>
            <span>452 557</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Февраль</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>26 422</span>
            <i>₽</i>
          </td>
          <td>
            <span>32 422</span>
            <i>₽</i>
          </td>
          <td>
            <span>428 422</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Март</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>28 404</span>
            <i>₽</i>
          </td>
          <td>
            <span>30 404</span>
            <i>₽</i>
          </td>
          <td>
            <span>401 404</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Апрель</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>30 534</span>
            <i>₽</i>
          </td>
          <td>
            <span>28 534</span>
            <i>₽</i>
          </td>
          <td>
            <span>373 534</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Май</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>32 824</span>
            <i>₽</i>
          </td>
          <td>
            <span>25 824</span>
            <i>₽</i>
          </td>
          <td>
            <span>342 824</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Июнь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>35 286</span>
            <i>₽</i>
          </td>
          <td>
            <span>23 286</span>
            <i>₽</i>
          </td>
          <td>
            <span>310 286</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Июль</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>37 933</span>
            <i>₽</i>
          </td>
          <td>
            <span>20 933</span>
            <i>₽</i>
          </td>
          <td>
            <span>274 933</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Август</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>40 778</span>
            <i>₽</i>
          </td>
          <td>
            <span>17 778</span>
            <i>₽</i>
          </td>
          <td>
            <span>236 778</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Сентябрь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>43 836</span>
            <i>₽</i>
          </td>
          <td>
            <span>14 836</span>
            <i>₽</i>
          </td>
          <td>
            <span>196 836</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Октябрь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>47 124</span>
            <i>₽</i>
          </td>
          <td>
            <span>11 124</span>
            <i>₽</i>
          </td>
          <td>
            <span>152 124</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Ноябрь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>50 658</span>
            <i>₽</i>
          </td>
          <td>
            <span>7 658</span>
            <i>₽</i>
          </td>
          <td>
            <span>105 658</span>
            <i>₽</i>
          </td>
        </tr>
        <tr>
          <td>Декабрь</td>
          <td>
            <span>58 542</span>
            <i>₽</i>
          </td>
          <td>
            <span>54 457</span>
            <i>₽</i>
          </td>
          <td>
            <span>4 457</span>
            <i>₽</i>
          </td>
          <td>
            <span>54 457</span>
            <i>₽</i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="schedule__text">Проценты за пользованием займом расчитываются изходя из фактического количества дней пользования.
    Представленная информация не является публичной офертой.</div>
  </div>
</div>
