<!-- Showcase -->
<div class="showcase-wrap" style="background-image: url(<%= image_path 'im-home-header.jpg' %>)">
  <div class="container">
    <div class="showcase">
      <div class="showcase-content">
        <h2>НУЖНЫ ДЕНЬГИ?</h2>
        <p>ЗАЙМ ПОД ЗАЛОГ<br>
        автомобиля и ПТС</p>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div><a href="#">Получить одобрение онлайн</a>
      </div>
      <div class="showcase-info">
        <%= image_tag "ic-hotline.svg" %>
        <div class="showcase-info-content">
          <p>Телефон горячей линии</p><a href="tel:74951202090"><span>+7 (495)</span> 120-20-90</a>
        </div>
      </div><a class="showcase-arrow" href="#main-about"><%= image_tag "ic-down.svg" %></a>
    </div>
  </div>
</div>
<!-- Main-about -->
<div class="main-about-wrap" id="main-about">
  <div class="container">
    <div class="main-about">
      <h2 class="head">КТО МЫ?</h2>
      <div class="main-about-items">
        <div class="main-about-content">
          <h2>Вам нужны деньги, но кредит – это не для Вас?</h2><b>Мы нашли другое решение!</b>
          <p>МОНТИС - займ под залог ПТС на выгодных условиях. Наша цель – облегчить Вам жизнь. Для этого мы создали надежную компанию в сфере финансовых услуг.</p>
          <p>Мы разработали оптимальные условия, для того, чтобы наши клиенты могли получить займ при минимуме усилий. Мы ценим Ваше время, и своевременно выполняем свою работу. С нами Вы получите денежные средства в течение 2 часов после подачи заявки.</p>
          <p>МОНТИС – компания, которая работает для Вас!</p><span>Регистрационный номер в<br>
          Государственном Реестре Микрофинансовых Организаций</span>
          <div class="main-about-number">
            1703045008255
          </div>
        </div>
        <div class="main-about-img"><%= image_tag "main-about.jpg" %></div>
      </div>
    </div>
  </div>
</div>
<!-- Why -->
<div class="why-wrap">
  <div class="container">
    <div class="why">
      <h2 class="head why-head">ПОЧЕМУ МЫ?</h2>
      <div class="why-items">
        <div class="why-item">
          <div class="why-item-img"><%= image_tag "ic-bank-white.svg" %></div>
          <p>ВЫСОКИЙ ЛИМИТ</p>
          <div class="why-item-num">
            500 000 <span>₽</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img"><%= image_tag "ic-stopwatch-white.svg" %></div>
          <p>БЫСТРОЕ РАССМОТРЕНИЕ ЗАЯВКИ</p>
          <div class="why-item-num">
            40 <span>мин</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img"><%= image_tag "ic-like-white.svg" %></div>
          <p>ВЫСОКИЙ ПРОЦЕНТ ОДОБРЕНИЯ ЗАЯВКИ</p>
          <div class="why-item-num">
            89 <span>%</span>
          </div>
        </div>
        <div class="why-item">
          <div class="why-item-img"><%= image_tag "ic-diamond-white.svg" %></div>
          <p>МИНИМУМ УСИЛИЙ</p>
          <div class="why-item-num">
            3 <span>документа</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
