<div class="my-account-wrap">
  <div class="container">
    <a href="#" class="link_back"><span>&lt;</span>назад</a>
    <h2 class="head">Мой кабинет</h2>
    <div class="my-account">
      <div class="my-account-sidebar">
        <ul>
          <li class="active"><a href="#">Профиль</a></li>
          <li><a href="#">Мои займы</a></li>
          <li><a href="#">Оставить отзыв</a></li>
          <li><a href="#">Платежи по займу</a></li>
        </ul>
        <div class="hotline">
          <img src="assets/ic-hotline-black.png" alt="">
          <div class="hotline-content">
            <p>Телефон горячей линии</p>
            <a href="tel:74951202090"><span>+7 (495)</span> 120-20-90</a>
          </div>
        </div>
      </div>
      <div class="my-account-content">
        <div class="my-account-item profile-wrap">
          <h2 class="profile-head">Личная информация</h2>
          <div class="profile">
            <div class="profile-item">
              <div class="profile-item-el">
                <img src="assets/ic-user-black.svg" alt="">
                <p><%= current_user.loans.last.full_name %></p>
              </div>
              <div class="profile-item-el">
                <img src="assets/ic-calendar-black.svg" alt="">
                <p><%= current_user.loans.last.birthdate.strftime('%d.%m.%Y') %></p>
              </div>
            </div>
            <div class="profile-item">
              <div class="profile-item-el">
                <img src="assets/ic-mail.svg" alt="">
                <%= link_to current_user.email, "mailto:#{current_user.email}" %>
              </div>
              <div class="profile-item-el">
                <img src="assets/ic-phone.svg" alt="">
                <%= link_to current_user.loans.last.phone_number, "tel:#{current_user.loans.last.phone_number}" %>
              </div>
            </div>
          </div>
          <div class="profile-info">
            <div class="profile-info-text">Мы ни при каких обстоятельствах не предоставляем третьим лицам ваши персональные данные.</div>
            <a href="#" class="profile-info-link">изменить</a>
          </div>
          <div class="profile-docs">
            <%= form_for(current_user, html: { method: :put, id: 'user-document-form' }) do |f| %>
              <h2 class="profile-head">Документы</h2>
              <label class="profile-upload-file">
                <%= f.file_field :document, id: 'user-document' %>
                <span class="link">загрузить документ</span>
              </label>
              <div class="profile-upload-result"><%= current_user.document.file&.filename %></div>
            <% end %>
          </div>
        </div>

        <!-- Loans -->

        <div class="loans-wrap my-account-item" style="display: none;">
          <% current_user.loans.order(created_at: :desc).each do |loan| %>
            <div class="loans-item">
              <div class="loans-head">
                <div class="loans-head-date"><%= loan.created_at.strftime('%d %B %Y') %></div>
                <div class="loans-node">
                  <div class="loans-node-number">№<%= loan.id %></div>
                  <div class="loans-node-text">Займ под залог автомобиля</div>
                </div>
                <div class="loans-head-img">
                  <img src="assets/ic-arrow-up-black.svg" alt="">
                </div>
              </div>
              <div class="loans-content">
                <div class="loans-elements">
                  <div class="loans-el">
                    <div class="loans-el-name">срок займа</div>
                    <div class="loans-el-data"><%= loan.term %><span>месяцев</span></div>
                  </div>
                  <div class="loans-el">
                    <div class="loans-el-name">Сумма займа</div>
                    <div class="loans-el-data"><%= loan.amount %><span>₽</span></div>
                  </div>
                  <div class="loans-el">
                    <div class="loans-el-name">Дата платежа</div>
                    <div class="loans-el-data"><%= loan.next_payment_date.strftime('%d.%m.%Y') %></div>
                  </div>
                  <div class="loans-el">
                    <div class="loans-el-name">сумма платежа</div>
                    <div class="loans-el-data"><%= loan.monthly_payment.to_i %> <span>₽</span></div>
                  </div>
                  <div class="loans-el">
                    <div class="loans-el-name">осталось платежей</div>
                    <div class="loans-el-data"><%= loan.number_of_payments_left %><span>платежей</span></div>
                  </div>
                  <div class="loans-el">
                    <div class="loans-el-name">Оставшаяся сумма</div>
                    <div class="loans-el-data"><%= loan.amount_to_pay %> <span>₽</span></div>
                  </div>
                </div>
                <div class="inform">
                  <div class="inform-text">Информация о просрочке и начисленных пенях</div>
                  <div class="inform-items">
                    <div class="inform-item">
                      <div class="inform-item-name">Прсрочка</div>
                      <div class="inform-item-data">6 <span>дней</span></div>
                    </div>
                    <div class="inform-item">
                      <div class="inform-item-name">Пени</div>
                      <div class="inform-item-data">600 <span>₽</span></div>
                    </div>
                  </div>
                </div>
                <%= form_for loan, method: :put, html: { class: 'reminder' } do |f| %>
                  <div class="reminder-head">Напомнить за 5 дней до платежа</div>
                  <div class="reminder-content">
                    <div class="reminder-label">
                      <label class="checkbox-label">
                        <div class="custom-checkbox">
                          <%= f.check_box :sms_notifications_enabled, class: 'notifications-checkbox', onchange: 'this.form.submit()' %>
                          <span></span>
                        </div>
                        <span class="text">СМС сообщением на телефон</span>
                      </label>
                    </div>
                    <div class="reminder-label">
                      <label class="checkbox-label">
                        <div class="custom-checkbox">
                          <%= f.check_box :email_notifications_enabled, class: 'notifications-checkbox', onchange: 'this.form.submit()' %>
                          <span></span>
                        </div>
                        <span class="text">Письмом на электронную почту</span>
                      </label>
                    </div>
                    <div class="reminder-link">
                      <input type="submit" class="link" value="погасить досрочно" />
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Review -->

        <div class="my-account-item review-wrap" style="display: none;">
          <div class="review-text">Вы можете оставить свой отзыв о качестве обслуживания и предоставляемых услугах.</div>
          <% if current_user.review %>
            <div class="review-items">
              <div class="question-item">
                <div class="question-item-name"><%= current_user.review.created_at.to_s(:short) %></div>
                <div class="question-answer">
                  <div class="review-head">
                    <div class="review-head-name"><%= current_user.loans.last.full_name %></div>
                    <div class="review-state">
                      <img src="assets/ic-clock.svg" alt="">
                      <div class="review-state-text"><%= status_for_review(current_user.review) %></div>
                    </div>
                  </div>
                  <p><%= current_user.review.content %></p>
                </div>
              </div>
            </div>
          <% else %>
            <%= form_for Review.new, html: { class: 'review-form' } do |f| %>
              <%= f.text_area :content, placeholder: 'Ваш отзыв' %>
              <div class="review-form-input">
                <%= f.submit 'Отправить', class: 'link' %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
