<div class="showcase-inner-wrap question_showcase">
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
  <div class="showcase-inner" style="background-image: url(<%= image_path 'im-header-3.jpg' %>)">
    <div class="container">
      <div class="showcase-inner-content">
        <h2>ДЕНЬГИ Под залог</h2>
        <p>автомобиля</p>
        <div class="showcase-inner-text">Автомобиль остается у Клиента,<br> на хранение передается только ПТС</div>
        <div class="showcase-content-price">
          до <span>500 000 <i>₽</i></span>
        </div>
        <a href="#">Получить одобрение онлайн</a>
      </div>
    </div>
  </div>
</div>

<!-- Question -->

<div class="question-wrap">
  <div class="container">
    <div class="question">
      <a href="#" class="link_back"><span>&#60;</span>назад</a>
      <h2 class="head question-head">Вопрос-ответ</h2>
      <div class="question-items">
        <div class="question-item">
          <div class="question-item__name">Сергей</div>
          <h2 class="question-item__head">Могу ли я заложить авто, если не являюсь собственником?</h2>
          <div class="question-answer">
            <span>Консультант Максим</span>
            <p>Да, получить заем под залог авто или ПТС можно при наличии генеральной доверенности.</p>
          </div>
          <div class="question-info">
            <a href="#" class="question-info__useful">Полезно?</a>
            <div class="question-info-items">
              <div class="question-info-item">
                <%= image_tag "ic-likeup.svg" %>
                <span>2</span>
              </div>
              <div class="question-info-item red">
                <%= image_tag "ic-likedown.svg" %>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Виктор</div>
          <h2 class="question-item__head">Какой минимальный заем можно получить?</h2>
          <div class="question-answer">
            <span>Консультант Оксана</span>
            <p>Минимальная сумма займа составляет 100 тысяч рублей.</p>
          </div>
          <div class="question-info">
            <a href="#" class="question-info__useful">Полезно?</a>
            <div class="question-info-items">
              <div class="question-info-item">
                <%= image_tag "ic-likeup.svg" %>
                <span>5</span>
              </div>
              <div class="question-info-item red">
                <%= image_tag "ic-likedown.svg" %>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Денис</div>
          <h2 class="question-item__head">Есть ли скидки для постоянных клиентов?</h2>
          <div class="question-answer">
            <span>Консультант Максим</span>
            <p>В нашей компании действует программа лояльности для постоянных клиентов. Обладатели карты привилегированного клиента получают ряд преимуществ - индивидуальная процентная ставка, повышенная оценка, льготный период погашения и другие приятные бонусы.</p>
          </div>
          <div class="question-info">
            <a href="#" class="question-info__useful">Полезно?</a>
            <div class="question-info-items">
              <div class="question-info-item">
                <%= image_tag "ic-likeup.svg" %>
                <span>0</span>
              </div>
              <div class="question-info-item red">
                <%= image_tag "ic-likedown.svg" %>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="question-item">
          <div class="question-item__name">Михаил</div>
          <h2 class="question-item__head">Какой режим работы автоломбарда?</h2>
          <div class="question-answer">
            <span>Консультант Степан</span>
            <p>Оформить сделку по залогу ПТС можно в будние дни с 10.00 до 19.00. Займы под залог автомобиля выдаются круглосуточно. Подать заявку на кредит и получить консультацию от наших менеджеров можно круглосуточно.</p>
          </div>
          <div class="question-info">
            <a href="#" class="question-info__useful">Полезно?</a>
            <div class="question-info-items">
              <div class="question-info-item">
                <%= image_tag "ic-likeup.svg" %>
                <span>0</span>
              </div>
              <div class="question-info-item red">
                <%= image_tag "ic-likedown.svg" %>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="question-link">показать еще</a>
      <div class="question-form">
        <h2 class="question-form__head">Задать вопрос</h2>
        <form action="post">
          <div class="question-inputs-wrap">
            <div class="question-inputs">
              <div class="question-input">
                <input type="text" placeholder="Ваше имя" onfocus="placeholder='';" onblur="placeholder='Ваше имя';" />
              </div>
              <div class="question-input star">
                <input type="text" placeholder="Телефон или электронная почта" onfocus="placeholder='';"и onblur="placeholder='Телефон или электронная почта';" />
              </div>
            </div>
            <textarea placeholder="Ваш вопрос" onfocus="placeholder='';" onblur="placeholder='Ваш вопрос';"></textarea>
          </div>
          <div class="question-bottom">
            <div class="form-check">
              <div class="checkbox">
                <input type="checkbox" id="box1" checked="checked">
                <span></span>
              </div>
              <label for="box1">Сообщать мне о получении ответа</label>
            </div>
            <button type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
