<h1>Пользователь: <%= @user.loans.last.full_name %></h1>

<p>
  <strong>Email</strong>: <%= @user.email %>
</p>

<p>
  <strong>Номер телефона</strong>: <%= @user.loans.last.phone_number %>
</p>

<p>
  <strong>Дата рождения</strong>: <%= @user.loans.last.birthdate %>
</p>


<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Сумма</th>
      <th>Срок</th>
      <th>Дата</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.loans.each do |loan| %>
      <tr>
        <td><%= loan.id %></td>
        <td><%= loan.amount %></td>
        <td><%= loan.term %></td>
        <td><%= loan.created_at.to_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
