<!DOCTYPE html>
<html>
  <head>
    <title>Montis</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/scripts' %>
    <%= render 'shared/header' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
